    @import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    h1 {
      font-weight: 400;
      margin: 0;
      line-height: 1.2;
      font-family: 'Jura';
    }
    
    h2 {
      font-weight: bold;
      margin: 0;
      line-height: 1.2;
      font-family: 'Jura';
    }
    
    h3 {
      font-weight: 400;
      margin: 0;
      line-height: 1.2;
      font-family: 'Jura';
    }
    
    a {
      text-decoration: none; /* Убирает подчеркивание */
      color: inherit; /* Унаследовать цвет текста от родительского элемента */
    }

    .header {
      width: 100vw;
      background-color: #00415C;
      position: relative;
      overflow: hidden;
    }

    .header img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    
    .navigation {
      width: 100vw;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .nav-button {
      background-color: white;
      text-align: center;
      display: flex;
      color: black;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* Подводка внизу с прозрачностью 50% */
    }
    
    .nav-button.active {
      border-bottom-color: black; /* Сплошная подводка для активной страницы */
    }
      
    .content-block {
      display: flex;
      justify-content: center;
      background-color: white;
      box-sizing: border-box;
    }
    .text-block {
      box-sizing: border-box;
      color: black;
    }
    .text-block.helper {
      color: white;
      background-color: #333;
    }
    
    .text-block.helper a {
      color: #018ECA;
      text-decoration: underline;
    }
    .text-block.helper a:visited {
      color: #9900FF;
    }
    .text-block.helper a:hover {
      color: #FF4400;
    }
    
    footer {
      width: 100vw;
      background-color: white;
    }
    .end-text {
      display: flex;
      width: 100vw;
      background-color: black;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
    }


    @media screen and (max-width: 960px) {
      .header {
        height: 50vw;
      }

      .header img {
        width: 100vw;
        height: 50vw;
      }

      .overlay {
        width: 62.5vw;
        height: 20vw;
        border-radius: 6.25vw 6.25vw 0 0;
      }

      h1 {
        font-size: 5vw;
      }
      
      h2 {
        font-size: 4.375vw;
      }
      
      h3 {
        font-size: 3.75vw;
      }
      
      .navigation {
        height: 6.9vw;
      }
      
      .nav-button {
        height: 6.9vw;
        width: 30vw;
      }
      
      .text-block {
        width: 100vw;
        padding: 9.375vw;
      }
      
      .end-text {
        margin-top: 9.375vw;
        height: 9.375vw;
      }
    }

    @media screen and (min-width: 961px) {
      .header {
        height: 480px;
      }

      .header img {
        width: 960px;
        height: 480px;
      }

      .overlay {
        width: 600px;
        height: 192px;
        border-radius: 60px 60px 0 0;
      }

      h1 {
        font-size: 48px;
      }
      
      h2 {
        font-size: 42px;
      }
      
      h3 {
        font-size: 36px;
      }
      
      .navigation {
        height: 66px;
      }
      
      .nav-button {
        width: 264px;
        height: 66px; /* Высота кнопок для экранов шире 960px */
      }
      
      .text-block {
      width: 960px;
      padding: 90px;
      }
      
      .end-text {
        margin-top: 90px;
        height: 90px;
      }
    }
